[submodule "dependence/concurrentqueue"]
	path = dependence/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "dependence/libuv"]
	path = dependence/libuv
	url = https://github.com/libuv/libuv.git
[submodule "dependencies/libuv"]
	path = dependencies/libuv
	url = https://github.com/libuv/libuv.git
[submodule "dependencies/concurrentqueue"]
	path = dependencies/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "dependencies/lua"]
	path = dependencies/lua
	url = https://github.com/lua/lua.git
[submodule "dependencies/LuaBridge"]
	path = dependencies/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
